@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body[data-pid="1"] {
    --color: var(--p1_color, red);
    background-color: var(--color);
}

body[data-pid="2"] {
    --color: var(--p2_color, blue);
}

body button {
    background-color: var(--color_dark);
    color: var(--color_light);
}

body button:not(:disabled):hover {
    background-color: var(--color_darker);
    color: var(--color_light);
}

body[data-pid="1"] #playerScore::after {
    content: "\00a0"var(--p1_score);
}

body[data-pid="2"] #playerScore::after {
    content: "\00a0"var(--p2_score);
}

/* Steps */
body[data-step="1"] #step-2,
body[data-step="1"] #step-3,
body[data-step="2"] #step-1,
body[data-step="2"] #step-3,
body[data-step="3"] #step-1,
body[data-step="3"] #step-2 {
    display: none;
}

/* General Styling */
html {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 10px;
}

body {
    --p1_score: "0";
    --p2_score: "0";
    --player_name: "";
    --height: 8.4rem;
    --color_dark: color-mix(in srgb, var(--color) 30%, black);
    --color_darker: color-mix(in srgb, var(--color) 0%, black);
    --color_light: color-mix(in srgb, var(--color) 10%, white);
    --color_lighter: color-mix(in srgb, var(--color) 30%, white);
    height: 100vh;
    margin: 0;
    font-size: 3.4vw;
    line-height: 1.15;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: balance;
    background-color: var(--color);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: inherit;
}

main {
    position: fixed;
    width: 100%;
    top: var(--height);
    height: calc(100vh - var(--height) * 2);
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

h1,
h2 {
    font-weight: normal;
    text-align: center;
    position: relative;
}

/* Header */
header {
    pointer-events: none;
    font-size: 1.8vw;
    height: var(--height);
    line-height: var(--height);
    text-transform: uppercase;
    color: white;
    background-color: var(--color_dark);
    text-align: center;
}

header h1 {
    width: 100%;
    float: left;
}

header div {
    position: absolute;
    padding: 0 2rem;
}

#playerName {
    left: 0;
}

#playerName:after {
    content: "\00a0"var(--player_name);
}

#playerScore {
    right: 0;
}

/* Input */
button,
input,
.textarea {
    width: 100%;
    height: 100%;
    outline: 0;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    display: block;
    box-sizing: border-box;
    caret-color: transparent;
}

button {
    text-align: center;
    cursor: pointer;
}

input,
.textarea {
    background-color: unset;
    text-wrap: wrap;
    color: var(--color_light);
}

.textarea {
    overflow-y: auto;
}

/* .textarea {
    display: flex;
    align-items: center;
    justify-content: center;
} */

::placeholder {
    color: var(--color_dark);
    opacity: 0.5;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: var(--color_dark);
    opacity: 0.5;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

[disabled] {
    pointer-events: none;
}

/* Main */
section {
    height: 100%;
}

.left,
.right {
    float: left;
    width: 50%;
    height: 100%;
}

.right {
    background-color: rgba(0, 0, 0, 0.5);
}

img#logo {
    width: auto;
    display: inline-block;
    height: 40%;
    vertical-align: middle;
}

img#generatedImage {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#promptText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--color_light);
}

.footer {
    clear: both;
    line-height: var(--height);
    height: var(--height);
    font-size: 1.8vw;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#generatingImageVideo {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100%;
    top: calc(var(--height) * -2);
    opacity: 1;
    background-image: url(../img/Wait_loading-alpha1080.gif);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center center;
}

#generatingImageVideo:not(.show) {
    display: none;
}

.footer:has(> :nth-child(2)) > * {
    float: left;
    width: 50%;
}

/* */

.fade-in-out {
    animation: fadeInOut 2s ease-in-out infinite alternate; /* Change the duration and easing as needed */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
